/* .body{
    font-family: 'Vivaldi';
    src: url(fonts/Vivaldi\ Italic.ttf);
} */

@font-face {
    font-family: 'Vivaldi';
    src: url(fonts/Vivaldi\ Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'GaramondLI';
    src: url(fonts/AppleGaramond-LightItalic.ttf) format('truetype');
}

div {
    font-family: 'Vivaldi', cursive !important;
    font-size: 30px;
    color: #FFD700
}

/* body, h1, h2, h3, p {
    font-family: 'GaramondLI' !important;
    font-size: 25;
    color: white;
} */

[data-testid = "stMarkdownContainer"]{
    font-size: 30px;
}

.stAppHeader{
    background-color: transparent;
}

.stVideo, stImage{
    height: 90vh;
    width: auto;
}

.stMainBlockContainer{
    padding: 4rem 1rem 3rem;
}

.stAlert{
    text-align: center;
}